.box{
    display: flex; 
    justify-content:space-evenly;
    width: 85%;
    margin: 0 auto;
    
}
.amin h1{
    font-size:30px ;
    font-family: 'Oswald', sans-serif;
}
.nn{
    display: grid;
    place-items: center;
    margin-top:80px;
    grid-template-columns: repeat(3,1fr);
    width:78%;
    margin: 0 auto;
}
.nn img{
    width: 300px; ;
}
.imgtop{
    margin-top: 220px;
}
.nn p{
    text-align: center;
    font-size:20px ;
    
}
.dd{
    transform: rotate(90deg);
    position: absolute;
    right: 60%;
    margin-top: -400px;
    font-weight: 800;
}
.dd2{
    transform: rotate(90deg);
    position: absolute;
    right: 35%;
    margin-top: -450px;
    font-weight: 800;
}
.dd3{
    transform: rotate(90deg);
    position: absolute;
    right: 9%;
    margin-top: -380px;
    font-weight: 800;
}
.dd4{
    transform: rotate(90deg);
    position: absolute;
    right: 60%;
    margin-top: -400px;
    font-weight: 800;
}
.dd5{
    transform: rotate(90deg);
    position: absolute;
    right: 35%;
    margin-top: -450px;
    font-weight: 800;
}
.dd6{
    transform: rotate(90deg);
    position: absolute;
    right: 9%;
    margin-top: -380px;
    font-weight: 800;
}
.AMIN1  h1{
    font-family: 'Oswald', sans-serif;
}